<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Klient Form</title>
</head>
<body>
    <h1>Klient Input Form</h1>

    <form action="#" th:action="@{/client/save}" th:object="${klient1}" method="post">
        <div>
            <label for="name">Nazwa:</label>
            <input type="text" id="name" th:field="*{name}" required/>
        </div>

        <div>
            <label for="address">Adres:</label>
            <input type="text" id="address" th:field="*{address}" required/>
        </div>

        <div>
            <label for="vatNumber">NIP:</label>
            <input type="text" id="vatNumber" th:field="*{vatNumber}" required/>
        </div>

        <div>
            <button type="submit">Save Klient</button>
        </div>
    </form>
</body>
</html>
